[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FESta"]
	path = FESta
	url = https://github.com/cran/FESta
[submodule "SSplots"]
	path = SSplots
	url = https://github.com/cran/SSplots
